/******* NavBar *******/
.logo {
  width: 60px;
  height: 60px;
  padding: 20px 20px 0;
  display: inline;
}
.landing-page {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 2;
}
nav ul {
  list-style: none;
  text-align: center;
  float: right;
  padding-right: 20px;
  line-height: 60px;
}
nav li {
  font-weight:500;
  font-size: 1.2em;
  text-transform: uppercase;
  display: inline-block;
  padding: 0 15px;
}
.fa.mobile-nav {
  display: none;
}
.fa-2x.mobile-nav {
  font-size: 1.7em;
}
nav a {
  text-decoration: none;
  display: block;
  color: #C5A6E8;
  transition: border .3s ease;
}
nav a:hover {
  color: white;
  border-bottom: 3px solid;
}
nav a.active {
  cursor: default;
  border-bottom: 3px solid;
}

/******** General/Home ******/


.section_one{
	height: 70vh;
  width: 96%;
  margin: 0 2%;
	text-align:center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 550px) {
  .section_one {
    font-size: .75em;
  }
}
@media screen and (max-width: 415px) {
  .section_one {
    font-size: .70em;
  }
}
h2 {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 3.5em;
  margin: 0;
}
h2.slogan {
  font-weight: lighter;
  font-size: 2em;
  font-style: italic;
}
#down-arrow {
  font-size: 4em;
  color: #C5A6E8;
  cursor: pointer;
  position: relative;
  animation: bounce 1s ease-in 0s infinite alternate;
  margin: 0 0 0.3em;
}

@keyframes bounce {
  0% { top: 0; }
  100% { top: 0.3em; }
}

@media screen and (min-width: 900px){
	.name{
		text-align:left;
		margin-bottom: 25px;
		font-weight: 300;
	}
}

.section_two{
	padding:0 3em;
  position: relative;
  z-index: 3;
  margin-top: calc(70vh + 80px);
  background-color: #fff
}

@media screen and (max-width: 600px) {
  nav ul {
    float: none;
    line-height: 1.25em;
    padding: .5em 0 0 0;
    background-color: rgb(240,240,240);
    margin: 0;
  }
  nav li {
    width: 24%;
    padding: 0;
    font-size: 12pt;
  }
  .logo {
    display: none;
  }
  .fa.mobile-nav {
    display: block;
  }
  .section_one {
    margin-top: 24pt;
  }
  .section_two {
    margin-top: calc(70vh + 54pt)
  }
  .container {
    padding: 0 5% 1em 5%;
  }
}
@media screen and (max-width: 1000px){
  .section_two{
		padding: 0 25px;
	}
}
@media screen and (min-width: 500px){
	.tagline{
		padding-left: .3em;
	}

}
.section-header {
  padding: 1.5em;
}
.header {
	font-size:36pt;
  color: #9B49CE;
  font-weight: 600;
  font-family: 'Josefin Slab', serif;
  margin: 0 0 .5em;
  padding-top: .75em;
  border-bottom: 1px solid black;
}
.header_2 {
	font-size:30pt;
  text-align: center;
  color: #9b49ce;
}
.content-container {
  display: flex;
  justify-content: center;
}
.content {
  font-size: 16pt;
	font-weight:300;
  display: inline-block;
}
.wide {
  width: 60%;
  margin-right: 4%;
}
.narrow {
  width: 35%;
}
@media screen and (max-width: 650px){
  .content-container {
    display: inherit;
  }
  .content {
    width: auto;
    margin: 0 0 1em 0;
  }
}

.tagline {
	font-size: 22pt;
	font-weight: 300;
}

.bold {
	font-weight: 300;
}

.small-pic {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/**** Buttony things ****/

.button {
   border: 3px solid #C5A6E8;
   text-align: center;
   padding: 8px 16px;
   border-radius: 10px;
   vertical-align: middle;
   font-size: 2.2em;
   font-weight: 300;
   color: #C5A6E8;
   transition: all .3s ease;
}
.button:hover {
   border-color: #FFF;
   color: #FFF;
}
/********* Footer *********/
footer {
	text-align: center;
	width: 100%;
  padding: 40px 0;
}
.social_icons a {
	font-size: 3em;
	color: #C5A6E8;
}
.social_icons a:hover {
	color: #fff;
}
.signature{
	margin: 0;
	margin-top: 1em;
	font-weight: 300;
	font-size: 12pt;
  color: #fff;
}
/********* Join *********/

.list{
	list-style-type: circle;
}

/****** Events Stuff ******/

.event{
	font-weight: 300;
	margin-bottom: 20px;
}

.container{
	padding: 0px 15% 20px 15%;
  background-color: #fff;
}
@media screen and (max-width: 600px) {
  .container {
    padding: 0 5% 1em 5%;
  }
}

.events_header{
	border-bottom: 1px solid black;
	font-size: -webkit-xxx-large;
	font-weight: 500;
}

.event .name{
	font-size: x-large;
	font-weight:600;
}

.event .date{
	font-size: large;
	font-weight: 500;
	margin: 0;
	margin-top:5px;
	margin-left: 20px;
}

.event .desc{
	font-size: large;
	font-weight: inherit;
	margin: 0;
	margin-top:5px;
	margin-left: 20px;
}

.loading {
  animation: fade 1s ease-in-out 0s infinite alternate;
  font-size: 1.3em;
}

@keyframes fade {
  0% { opacity: 1; }
  100% { opacity: 0.3; }
}

/********* About *********/

/********* Contact ******/
.e-board {
  list-style: circle;
  margin: 0;
}

.e-board li {
  padding-bottom: .5em;
}
